.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  
  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px/2);
  top: 173px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  
  width: 638px;
  height: 54px;
  
  background: #262626;
  color: #F2F2F2;
  
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  border: 0;
  
}

.input:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 90px;
  height: 52px;
  background: #1E6F9F;
  border-radius: 8px;
  font-weight: 700; 

  color: #F2F2F2;
  border: 0;
  cursor: pointer;
}
