.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 16px;
  gap: 12px;

  max-width: 733px;
  width: 755px;
  height: auto;

  background: #262626;

  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: visible;
}

